<p><center>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</center></p>

<p><center>
  <strong>Comment:</strong>
  <%= comment.body %>
</center></p>

<p id="delete_comment"><center>
  <%= link_to 'Delete comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</center></p>